DEBUG=true

DEBUG_ANALYZER=true

# prodction, test, and development
ENV=test 

# defualt database name
DBNAME=p2pdb

# defualt database table name
DBTABLENAME=test

# Location of the data store
DATAPATH=

# memory or file
STORAGE_ENGINE=memory 

# the server port 
PORT=3306

# the server ip address
LOCALHOUST=127.0.0.1 